# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
spring-with-react-main/react-frontend-project-two/project-two/src/App.jsx
*.pack
*.pack
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/plugin-transform-react-constant-elements/lib/index.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/plugin-transform-react-constant-elements/lib/index.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/plugin-transform-react-constant-elements/package.json
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/plugin-transform-typescript/lib/index.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/plugin-transform-typescript/package.json
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/traverse/lib/path/family.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@babel/traverse/package.json
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/@testing-library/dom.cjs.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/@testing-library/dom.esm.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/@testing-library/dom.umd.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/@testing-library/dom.umd.min.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/config.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/role-helpers.js
spring-with-react-main/react-frontend-project-two/project-two/node_modules/@testing-library/dom/dist/screen.js
*.json
